@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(160.77deg, #050507 15.61%, #040406 99.47%);
  font-size: 16px;
  
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paddingTop-50 {
  padding-top: 50px;
}
.marginBottom-50 {
  margin-bottom: 50px;
}

.paddingTop-30 {
  padding-top: 30px;
}

.paddingTop-100 {
  padding-top: 100px;
}


.header-heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
}

.position-line {
  right: 0 !important;
  position: absolute;
}

.header-paragraph {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: 400;

}

.join-btn{
  background: #00D7D7;
  box-shadow: 0px 4px 20px rgba(14, 11, 26, 0.2);
  border-radius: 10px; 
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF; 
  padding: 13px 50px;
  z-index: 1;
}
.vector-img {
  left: 190px !important;
}

.card_section {
  
  background: linear-gradient(160.77deg, #050507 15.61%, #040406 99.47%);
  padding: 300px 0;
}

.cards-header {
  font-weight: 500;
  font-size: 25px;
  color: #01FFFF;
}

.cards-title {
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
}

.innerCard {
  padding: 30px;
  min-height: 400px;
  border-radius: 5px;
  /* border: 1px solid #01FFFF; */
}

.minus-m {
  margin-left: -20px;
}
.active {
  display: block;
}
.inactive{
  display: none;
}
.features {
  background: linear-gradient(160.77deg, #050507 15.61%, #040406 99.47%);
  
}
.line {
  border-top: 0.5px solid #FFFFFF;
  max-width: 800px;
  margin: 0 auto;
}
.community-container {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.community-container h4 {
  font-weight: 600; 
  font-size: 50px;
  color: #FFFFFF;
}

.community-container p {
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.flex_ {
  display: flex;  
}

.featureSide p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.stake {
  padding: 20px 30px;
  cursor: pointer;
}

.paddingBottom-100{
  padding-bottom: 100px;
}
.sp-control-container-mobile {
  display: none;
}

.feature-content {
  padding-left: 100px;
  padding-top: 150px;
}

.feature-content p {
  max-width: 400px;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
}

.feature-content h4{
  font-weight: normal;
  font-size: 30px;
  color: #FFFFFF;
}
.wallpaper {
  position: relative
}

.overlay {
  position: absolute; 
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); 
  z-index: 2;
}

.paddingTop-20 {
  padding-top: 20px;
}

z-index {
  z-index: 1 !important;
}

.position-abs {
  position: absolute;
}

.paddingTop-200  {
  padding-top: 200px;
}

.marginBottom-100 {
  margin-bottom: 100px;
}

.paddingBottom-50 {
  padding-bottom: 50px;
}

.explore_section {
  padding: 200px 0;
  overflow: hidden;
}

.explore_section h4 {
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
}

.playerBtn {
  padding: 16px;
  margin: 10px;
  background-color: #ffff;
  border-radius: 50%;
}
.play-circle {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  padding: 24px 0px;
}

.marginArrow {
  margin: 100px 0;
}

.circle {
  width: 10.71px;
  height: 10.71px;
  border-radius: 50%;
  border: 2px solid #00D7D7;
  background-color: black;
  padding:0 !important;
  position: absolute;
  top: -4px;
  margin: 0;
  z-index: 1;
}

.show-on-hover {
  position: absolute;
  top: 60px;
  max-width: 100%;
}

.show-on-hover p {
  padding: 20px;
  font-size: 16px;
  line-height: 25px;
}

.circle-container{
  display: flex;
  justify-content: center;
}

.circle-q {
  font-size: 19px;
  line-height: 25px;
  padding-top: 15px;
}
/* .startups-container {
  margin: 300px 0px;
} */
/* start ups */

.not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.startup-color-white{
  color: white;
}
.startup-no-color{
  color: #5E5E60;
}
.start-upper {
  max-width: 847px;
  position: relative;
  margin: 0 auto;
}
.start-bottom {
  display: flex;
  justify-content: flex-end;
  background: #121218;
  position: absolute;
    padding: 65px;
    width: 80%;
    bottom: -51px;
    z-index: 4;
    right: 0;
}

.startup-padding p {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
} 

.startup-padding h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}

/* .startup-control {
    background-color: #22222C;
    position: absolute;
    height: 100%;
    z-index: 5;
    top: 63px;
    right: -10px;
    left: 70px;
    max-width: 700px;
} */
#startup {
  background: linear-gradient(160.77deg, #050507 15.61%, #040406 99.47%);
  padding: 200px 0;
  color: #ffff;
}
.learn-more {
  background-color: #000000;
  left: 0px;
  bottom: 0;
  padding: 20px 80px;
  color: #ffffff;
}

 .startup-padding {
  padding:  60px 80px;
}

.learn-more a {
  line-height: 19px;
  font-size: 14px;
} 
/* start up*/
.startup-cover {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.sp-content-container {
  background: linear-gradient(0deg, #0A0A0E, #0A0A0E), linear-gradient(180.01deg, #00FF75 0.62%, rgba(157, 231, 255, 0.25) 80.5%, rgba(255, 255, 255, 0) 109.39%);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
 
}
.sp-second {
  background: #000000;
}
.sp-control-container {
  margin-top: auto;
  padding: 87px 72px;
  margin-bottom: auto;
  background: #22222C;
}
.play-color {
 color: #186CDE;
}
.sparrow {
  width: 14px;
  height: 21px;
}
.sparrow-grey {
  color: #5E5E60;
}
.sparrow-white {
  color: #FFFFFF;
}
/*teams */

.pl {
  padding-left: 16px;
  
}
.teams {
  padding: 50px 0
}
.teams h4 {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 50px;
}
.team-social p {
  color: #ffff;
  margin: 0;
}
#team-green {
  color: #01FFFF;
}
.team-container {
  padding: 100px;
}
.team-social {
    bottom: 7px;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(2.45deg, #000000 2.31%, rgba(0, 0, 0, 0) 88.6%);
}

.team-images {
  display: flex;;
  justify-content: space-between;
  align-items: center;
}
.teams-control {
  padding-top: 50px
}

.teams-control button {
  margin: 0 5px;
  border: 0.5px solid #01FFFF;
  background: transparent;
  width: 40px;
  height: 5px;
}
.teams-control button.button-color {
  background: #01FFFF;
}

/* Footer */
#footer {
  background: linear-gradient(0deg, #030305, #030305), #020202;;
}
.footer {
  padding-top: 95px;
  padding-bottom: 170px;
}

.all-right-reserve {
  padding-top: 47px;
}
.follow {
  color: #ffff;
}
.all-right-reserve  span, .terms {
  opacity: 0.5;
  color: #ffffff;
}

.footer-middle a{
  color: #ffff;
  padding-right: 20px;
}

.terms {
  padding-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}


/* mobile only */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-container {
    flex-direction: column;
  }
  .community-container p {
    font-size: 16px;
    line-height: 23px;
  }
  .feature-content{
    padding-left: 20px;
    padding-top: 70px;
  }
  .team-container {
    padding: 30px;
  }
  .teams-control {
    padding-top: 20px;
}
  .stake {
    padding: 5px 5px;
    cursor: pointer;
  }
  .feature-content p {
    font-size: 16px;
    line-height: 25px;
    padding: 0 5px;
  }
  .pl {
    display: none;
  }
  .team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-middle {
    padding-top: 20px;
  }
  .header-heading {
    font-size: 28px;
    line-height: 35px;
  }
  .header-paragraph {
    font-size: 16px;
    line-height: 25px;
}
.paddingTop-50 {
  padding-top: 80px;
}
.follow {
  padding-top: 20px;
}
.community-container h4 {
  font-size: 28px;
}
.featureSide p {
  font-size: 16px;
  line-height: 25px;
}
.startup-padding {
  padding: 20px 20px;
}
.sp-control-container {

  padding: 20px 20px;
 
}
.feature-content h4, .startup-padding h4 {
  font-size: 28px;
}
.start-bottom {
  display: none;
}
.sp-control-container {
  display: none;
}
.sp-control-container-mobile {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 10px;
}
.learn-more {

  padding: 20px 18px;
 
}
.show-on-hover p {
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
}
.show-on-hover p {
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
}
.teams h4 {
  font-size: 30px;
}
}


 